auto-mm-bench==1.0.0.dev20230309
black==23.1.0
evaluate==0.4.0
fqdn==1.5.1
isoduration==20.11.0
jsonpointer==2.3
lightgbm==3.3.5
lion-pytorch==0.0.7
notebook==6.5.3
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
openpyxl==3.1.1
pip-chill==1.0.1
pytorch-triton==2.0.0+b8b470bc59
seaborn==0.12.2
shap==0.41.0
torchaudio==2.0.0.dev20230302+cu117
torchvision==0.15.0.dev20230302+cu117
transformers==4.26.1
uri-template==1.2.0
wandb==0.13.10
webcolors==1.12
xgboost==1.7.4
