auto-mm-bench
black
colorspacious
evaluate
fqdn
isoduration
jsonpointer
lightgbm
my-package
nlp
nomic
notebook
openpyxl
optimum
palmerpenguins
pytorch-triton
seaborn
shap
statsmodels
torchaudio
torchvision
uri-template
wandb
webcolors
wget
xgboost